<mat-accordion>
      
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Student Data
        </mat-panel-title>
        <mat-panel-description>
         This contains student data.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-student-data></app-student-data>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          School Data
        </mat-panel-title>
        <mat-panel-description>
         This contains school data.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-school-data></app-school-data>
    </mat-expansion-panel>
  </mat-accordion>

