
<table border="1">
    
   <tr>
    <td>All Times (Mountain)</td>
    <td>Diesel - Farm Power & Machinery</td>
    <td>Surveying - Soil & Water Management</td>
    <td>Welding - Ag Construction & Maintenance</td>
    <td>Carpentry - Structures & Environment</td>
    <td>Electrical Power</td>
  </tr>
  
   <tr>
    <td> </td>
    <td>Diesel Building</td>
    <td>Precision Ag Building</td>
    <td>Welding Building</td>
    <td>Carpentry Building</td>
    <td>Electrical Building</td>
  </tr>
  <tr>
    <td>7:45-8:10</td>
    <td colspan="5">Registration In Student Union</td>
  </tr>
  <tr>
    <td>8:10-8:20</td>
   <td colspan="5"> Travel & Time to get to correct station corresponding with student's number assigned. -- Lyons Room reserved for Advisors/Instructors</td>
  </tr>
  <tr>
    <td>8:20-9:20</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
    <td></td>
    <td>Phillipsburg</td>
    <td>Quinter</td>
    <td>Trego</td>
    <td>Golden Plains</td>
    <td>St. Francis</td>
  </tr>
  <tr>
    <td></td>
    <td>Hill City</td>
    <td>Smith Center</td>
    <td>Cheylin</td>
    <td>Osborne</td>
    <td>Northern Valley</td>
  </tr>
  <tr>
    <td></td>
    <td>Norton</td>
    <td></td>
    <td>Oakley</td>
    <td>Victoria</td>
    <td>Colby</td>
  </tr>
  <tr>
    <td></td>
    <td>Thunder Ridge</td>
    <td></td>
    <td></td>
    <td>Decatur</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>9:20-9:25</td>
    <td colspan="5">Travel Time</td>
  </tr>
  <tr>
    <td>9:25-10:25</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>1</td>
  </tr>
    <tr>
        <td></td>
        <td>Quinter</td>
        <td>Oakley</td>
        <td>Golden Plains</td>
        <td>Colby</td>
        <td>Phillipsburg</td>
      </tr>
      <tr>
        <td></td>
        <td>TMP</td>
        <td></td>
        <td>Osborne</td>
        <td>Northern Valley</td>
        <td>Hill City</td>
      </tr>
      <tr>
        <td></td>
        <td>Smith Center</td>
        <td></td>
        <td>Victoria</td>
        <td>St. Francis</td>
        <td>Norton</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Decatur</td>
        <td></td>
        <td>Thunder Ridge</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10:25-10:30</td>
        <td colspan="5">Travel Time</td>
        
      </tr>
      <tr>
        <td>10:30-11:30</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <td></td>
        <td>Cheylin</td>
        <td></td>
        <td>Colby</td>
        <td>Phillipsburg</td>
        <td>Quinter</td>
      </tr>
      <tr>
        <td></td>
        <td>Oakley</td>
        <td></td>
        <td>Northern Valley</td>
        <td>Hill City</td>
        <td>TMP</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>St. Francis</td>
        <td>Norton</td>
        <td>Smith Center</td>
      </tr>
      <tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Thunder Ridge</td>
        <td></td>
      </tr>
     
      <tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
        <td>11:30-12:30</td>
        <td colspan="5">Lunch Break</td>
       </tr>
       <tr>
        <td>12:30-1:30</td>
        <td>4</td>
        <td>5</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td></td>
        <td>Golden Plains</td>
        <td>Colby</td>
        <td>Phillipsburg</td>
        <td>Quinter</td>
        <td>Cheylin</td>
      </tr>
      <tr>
        <td></td>
        <td>Osborne</td>
        <td>Northern Valley</td>
        <td>Hill City</td>
        <td>TMP</td>
        <td>Oakley</td>
      </tr>
      <tr>
        <td></td>
        <td>Victoria</td>
        <td></td>
        <td>Norton</td>
        <td>Smith Center</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Decatur</td>
        <td></td>
        <td>Thunder Ridge</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1:30-1:35</td>
        <td colspan="5" >Travel Time</td>
    </tr>
    <tr>
        <td>1:35-2:35</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
      </tr>
      <tr>
        <td></td>
        <td>Colby</td>
        <td></td>
        <td>Quinter</td>
        <td>Oakley</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Northern Valley</td>
        <td></td>
        <td>Smith Center</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>St. Francis</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
      <tr>
        <td>2:35-3:00</td>
        <td colspan="5">Scoring and Grading</td>
        
      </tr>
      <tr>
        <td>3:00-3:30</td>
        <td colspan="5">Awards</td>
       
      </tr>

</table>